---
import MainLayout from "@/layouts/MainLayout.astro";
import { turso } from "../turso";
import { firebase } from "@/firebase/config";

const isLoggedIn = !!firebase.auth.currentUser;
const user = firebase.auth.currentUser;
const { rows } = await turso.execute("SELECT * FROM Clients");
---

<MainLayout title="Home">
    <h1 class="text-3xl">Home Page</h1>
    <h1 class="text-3xl">
        {user ? `Display Name: ${user.displayName}` : "No user"}
    </h1>
    <p>{`Is logged in: ${isLoggedIn}`}</p>
    <ul>
        {rows.map((client) => <li>{client.name}</li>)}
    </ul>
</MainLayout>
