---
import Layout from "../layouts/Layout.astro";
import { turso } from "../turso";

const { rows } = await turso.execute("SELECT * FROM Clients");
---

<Layout>
    <ul>
        {rows.map((row) => <li>{row.name}</li>)}
    </ul>
</Layout>
