---
import Layout from "../layouts/Layout.astro";
import { turso } from "../turso";

const { rows } = await turso.execute("SELECT * FROM Clients");
---

<Layout>
    <div class="container p-10">
        <ul>
            {rows.map((row) => <p class="text-3xl">{row.name}</p>)}
        </ul>
    </div>
</Layout>
